In [1]:
import pandas as pd
import muon as mu
import argparse

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

/cellar/users/aklie/opt/miniconda3/envs/scverse-lite-py39/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Write command to run

```bash
python /cellar/users/aklie/opt/gene_program_evaluation/src/inference/grn_models/celloracle/workflow/scripts/post.py \
-d /cellar/users/aklie/data/datasets/neurips2021_small/annotation/2023_12_05/mdata.h5mu \
-r /cellar/users/aklie/data/datasets/neurips2021_small/analysis/celloracle/2024_05_01/r2g.csv \
-t /cellar/users/aklie/data/datasets/neurips2021_small/analysis/celloracle/2024_05_01/tf2r.csv \
-g /cellar/users/aklie/data/datasets/neurips2021_small/analysis/celloracle/2024_05_01/grn.csv \
-o /cellar/users/aklie/data/datasets/neurips2021_small/analysis/celloracle/2024_05_01/celloracle.h5mu
```

# DONE!

---

In [4]:
mdata = mu.read_h5mu("/cellar/users/aklie/data/datasets/neurips2021_small/analysis/celloracle/2024_05_01/celloracle.h5mu")
mdata

/cellar/users/aklie/opt/miniconda3/envs/scverse-lite-py39/lib/python3.9/site-packages/anndata/_core/anndata.py:522: FutureWarning: The dtype argument is deprecated and will be removed in late 2024.
  warnings.warn(
/cellar/users/aklie/opt/miniconda3/envs/scverse-lite-py39/lib/python3.9/site-packages/anndata/_core/anndata.py:522: FutureWarning: The dtype argument is deprecated and will be removed in late 2024.
  warnings.warn(

MuData object with n_obs × n_vars = 123 × 8704
  obs:	'celltype', 'batch', 'Samplename', 'Site', 'DonorNumber', 'Modality', 'VendorLot', 'DonorID', 'DonorAge', 'DonorBMI', 'DonorBloodType', 'DonorRace', 'Ethnicity', 'DonorGender', 'QCMeds', 'DonorSmoker'
  uns:	'grn', 'r2g', 'tf2r'
  2 modalities
    atac:	123 x 8192
      obs:	'pseudotime_order'
      obsm:	'X_lsi', 'X_umap'
      layers:	'counts'
    rna:	123 x 512
      obs:	'pseudotime_order'
      var:	'gene_id'
      obsm:	'X_pca', 'X_umap'
      layers:	'counts'

In [5]:
mdata.uns["r2g"]

                          cre     gene     score  pval
0    chr1-107964928-107965436     VAV3  1.000000   NaN
1    chr1-167627734-167628592    RCSD1  0.175306   NaN
2    chr1-167630023-167630677    RCSD1  1.000000   NaN
3    chr1-224160037-224160917    WDR26  0.211110   NaN
4    chr1-224433432-224434024    WDR26  1.000000   NaN
..                        ...      ...       ...   ...
115    chr8-66712260-66713148     SGK3  1.000000   NaN
116    chr8-66774787-66775705     SGK3  1.000000   NaN
117  chrX-134796760-134797638  FAM122B  1.000000   NaN
118  chrX-134806776-134807626  FAM122B  0.349342   NaN
119      chrX-7147777-7148690     PUDP  1.000000   NaN

[120 rows x 4 columns]

In [6]:
mdata.uns["tf2r"]

                          cre      tf       score  pval
0    chr1-107964928-107965436     SP4  306.977226   NaN
1    chr1-107964928-107965436    E2F2   39.214405   NaN
2    chr1-107964928-107965436    KLF6   33.173334   NaN
3    chr1-107964928-107965436  TCF7L2   21.085326   NaN
4    chr1-107964928-107965436  ZNF274    9.027613   NaN
..                        ...     ...         ...   ...
795      chrX-7147777-7148690    ETV6   15.750142   NaN
796      chrX-7147777-7148690   FOXO3   11.345765   NaN
797      chrX-7147777-7148690  TCF7L2   10.376402   NaN
798      chrX-7147777-7148690  BCL11B   10.010853   NaN
799      chrX-7147777-7148690     ERG    9.591994   NaN

[800 rows x 4 columns]

In [7]:
mdata.uns["grn"]

      source  target     score      pval          cluster
0     ARID5B  FAM13A  0.394429  0.000008              HSC
1     ARID5B   SAMD9  0.256832  0.000004  Proerythroblast
2     ARID5B  FAM13A  0.139830  0.000012  Proerythroblast
3     ARID5B   SAMD9 -0.028316  0.562145              HSC
4     ARID5B   SAMD9 -0.074804  0.000727     Erythroblast
...      ...     ...       ...       ...              ...
2489  ZNF713    FLT3 -0.090435  0.202752              HSC
2490  ZNF713    FLT3 -0.116786  0.000047        MK/E prog
2491  ZNF713  MED12L -0.142974  0.009183  Proerythroblast
2492  ZNF713  MED12L -0.175748  0.001426              HSC
2493  ZNF713  MED12L -0.351601  0.000061        MK/E prog

[2494 rows x 5 columns]